.container-drag{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.container-input-file {
    height: 20rem;
    width: 20rem;
    padding: 2rem;
    border: 1px solid #d0d7de;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}



.image-upload-wrap:hover {
  background-color: transparent;
  border: 4px dashed #d0d7de;
}
.text-information {
  margin-top: 30px;
  text-align: center;
}
